# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Compiled source #
###################
*.pyc
*.o
*.so
*.pdf
# Specific Files #
##################

/g6k/siever.cpp
/g6k/siever_params.cpp
/svpchallenge/*
/g6k-fplll
/g6k-fpylll
/g6k-env
/activate
/build/
/dist/
/G6K.egg-info/

/code/build/
/code/googletest/
/paper/dist-sieve.bbl
/paper/dist-sieve.fdb_latexmk
/paper/dist-sieve.fls
